body {  width: 100%;
        margin: 0 auto;
}

h1, h2, h3, h4, p { 
   text-align: center !important;
}

#wrapper{border:none; margin:0%; padding:0%;min-width:200px;width:100%} 
.box{background:#ffffff;width:92%;padding:2%;display:inline-block;vertical-align:top;border:1px solid #999999} 
.image-box{padding:0% 2% 2% 0%;max-width:100px;}